.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 2px dashed #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
}

.file-drop-zone {
  border: 2px dashed #999;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
}
.file-drop-zone input {
 display: none;
}
button{
  margin-top: 2rem;
}
.file-drop-zone label {
  font-size: 16px;
}

.file-list {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.file-list li {
  margin: 5px 0;
  font-size: 14px;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}